[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["librabbitmq"], version = "*"}
click = "*"
environs = "*"
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
matplotlib = "*"
pandas = "*"
plaid-python = "*"
requests = "*"
sqlalchemy = "*"
toolz = "*"
werkzeug = "*"
wtforms = ">=3"

[dev-packages]
cryptography = "*"  # used for flask SSL in dev
celery = {extras = ["redis"], version = "*"}
python-lsp-server = "*"

[requires]
python_version = "3.12"
