celery[librabbitmq]
click
environs
flask
flask-bcrypt
flask-debugtoolbar
flask-login
flask-migrate
flask-sqlalchemy
flask-wtf
matplotlib
mpld3
pandas
plaid-python<5  # breaking changes since I developed plaid integration
sqlalchemy
toolz
wtforms>=3  # default HTML5 fields
