celery[librabbitmq]
click
environs
flask
flask-bcrypt
flask-login
flask-migrate
flask-sqlalchemy
flask-wtf
matplotlib
pandas
plaid-python
requests
sqlalchemy
toolz
werkzeug
wtforms>=3  # default HTML5 fields
