{% extends "layout.html" %}
{% block title %}{{ account.name }} - Account Overview - Shiso{% endblock %}
{% block content %}
<h1>{{ account.name }} - Account Overview</h1>
{% if account.sync_end %}
<p>Last synced {{account.sync_end}}</p>
{% else %}
<p>Not yet synced!</p>
{% endif %}
<form method="POST" action="{{url_for('.account_sync', account_id=account.id)}}" >
  {{ form.csrf_token }}
  {% if not account.sync_start %}
    <div class="form-group">
    {{ form.start_date.label }}
    {{ form.start_date(class_="form-control") }}
    </div>
  {% endif %}
  <div class="form-group">
    <button class="btn btn-md btn-primary" type="submit">Start Sync</button>
    {% if account.sync_start and next_unreviewed %}
    <a class="btn btn-md btn-info"
       href="{{ url_for('.account_review', account_id=account.id) }}">
      Review Transactions
    </a>
    {% endif %}
    <a class="btn btn-md btn-warning"
       href="{{ url_for('.account_report', account_id=account.id) }}">
      Report
    </a>
    <a class="btn btn-md btn-danger"
       href="{{ url_for('.account_rename', account_id=account.id) }}">
      Rename
    </a>
  </div>
</form>
{% include "shiso/transaction_table.html" %}
{% endblock %}
