{% extends "shiso/transaction_table.html" %}
{% block title %}Transaction Listing - All Accounts{% endblock %}
{% block header %}
<h1>Transaction Listing - All Accounts</h1>
<form method="GET" action="{{url_for('.all_account_transactions')}}" >
  <div class="form-group">
    {{ form.start_date.label }}
    {{ form.start_date(class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.end_date.label }}
    {{ form.end_date(class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.accounts.label }}
    {{ form.accounts(class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.category.label }}
    {{ form.category(class_="form-control") }}
  </div>
  <div class="form-group">
    <button class="btn btn-md btn-primary" type="submit">Load Transactions</button>
    <a class="btn btn-md btn-info" id="bulk-update-toggler">
      Start Bulk Update
    </a>
  </div>
</form>
{% endblock %}
