{% macro transaction_table(txns, include_bulk_update) %}
<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">
        {% if include_bulk_update %}
          <input type="checkbox" onchange="setAll(this.checked)" autocomplete="false" class="bulk-update-checkbox d-none"></input>
        {% endif %}
      </th>
        <th scope="col">Date</th>
        <th scope="col">Name / Merchant</th>
        <th scope="col">Category</th>
        <th class="text-right" scope="col">Amount</th>
        <th class="text-right" scope="col">Paige</th>
        <th class="text-right" scope="col">Other</th>
      </tr>
    </thead>
    <tbody>
      {% for txn in txns %}
        <tr>
          <td>
            {% if txn.review and include_bulk_update %}
              <input type="checkbox" onchange="setId({{txn.id}}, this.checked)" autocomplete="false" class="bulk-update-checkbox d-none"></input>
            {% endif %}
            {% if txn.needs_review %}<span class="fa fa-edit fa-md main-list-item-icon"></span>{% endif %}
            {% if not txn.posted %}<span class="fa fa-hourglass-half fa-md main-list-item-icon"></span>{% endif %}
            {% if txn.subscription_id is not none %}
              <a href="{{url_for('.subscription_show', sub_id=txn.subscription_id)}}">
                <span class="fa fa-refresh fa-md main-list-item-icon"></span>
              </a>
            {% endif %}
          </td>
          <td><a href="{{url_for(review_dest or '.global_review_transaction', txn_id=txn.id)}}">{{txn.original_date}}</a></td>
          <td>
            <a href="{{url_for('.all_account_transactions', name=txn.name)}}">{{txn.name}}</a>
            {% if txn.plaid_merchant_name %}
              /
              <a href="{{url_for('.all_account_transactions', merchant=txn.plaid_merchant_name)}}">{{txn.plaid_merchant_name}}</a>
            {% endif %}
          </td>
          <td>{{txn.review.category if txn.review else "" }}</td>
          <td class="text-right">{{txn.amount | usd}}</td>
          <td class="text-right">{{(txn.review.reimbursement_amount if txn.review else 0) | usd}}</td>
          <td class="text-right">{{(txn.review.other_reimbursement if txn.review else 0) | usd}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}
