{% extends "layout.html" %}
{% block title %}Shiso{% endblock %}
{% block content %}
<h1>Shiso</h1>
<p>Your linked institutions and accounts:</p>
{% for item in items %}
  <a href="{{url_for('.link_accounts', item_id=item.id)}}">{{item.institution_name}}</a>
  <ul>
    {% for acct in item.accounts %}
    <li><a href="{{url_for('.account_transactions', account_id=acct.id)}}">{{acct.name}}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
<p><a class="btn btn-md btn-primary" href="{{url_for('.all_account_report')}}">All Account Report</a></p>
<form method="POST" action="{{url_for('.global_sync')}}" >
  {{ form.csrf_token }}
  <div class="form-group">
    <button class="btn btn-md btn-primary" type="submit">Start Sync</button>
  </div>
</form>
{% if next_unreviewed %}
<p><a class="btn btn-md btn-secondary" href="{{url_for('.global_review')}}">Transaction Review</a></p>
{% endif %}
<p><a class="btn btn-md btn-secondary" href="{{url_for('.link')}}">Link new financial institution</a></p>
{% endblock %}
