{% extends "layout.html" %}
{% block title %}{{ "Re-auth" if update else "Link" }} Institution{% endblock %}
{% block content %}
  <div class="centered-content">
  {% if oauth_callback %}
    <h1>Continue Link/Update Process</h1>
  {% elif update %}
    <h1>Re-Auth Institution</h1>
    <div class="alert alert-info">
      <p>
        Your integration with {{ update.institution_name }} needs to be
        updated! Please complete the steps below.
      </p>
    </div>
  {% else %}
    <h1>Link an Institution</h1>
  {% endif %}
  <form style="display: none" method="POST" action="{{post_url}}" id="link-form">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
  </form>
  {% if not oauth_callback %}
  <button type="button" class="btn btn-primary" id="link-button">
    {{"Update" if update else "Link"}} Account
  </button>
  {% endif %}
  </div>
{% endblock %}
{% block body_js %}
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript">
    (function($) {
      var handler = Plaid.create({
        token: '{{ link_token }}',
        {% if oauth_callback %}
        receivedRedirectUri: window.location.href,
        {% endif %}
        // Optional – use webhooks to get transaction and error updates
        //webhook: '',
        onLoad: function() {
          // Optional, called when Link loads
        },
        onSuccess: function(public_token, metadata) {
          // Send the public_token to your app server.
          // The metadata object contains info about the institution the
          // user selected and the account ID or IDs, if the
          // Select Account view is enabled.
          document.forms['link-form'].elements['public_token'].value = public_token;
          document.forms['link-form'].submit();
        },
        onExit: function(err, metadata) {
          // The user exited the Link flow.
          if (err != null) {
            // The user encountered a Plaid API error prior to exiting.
          }
          // metadata contains information about the institution
          // that the user selected and the most recent API request IDs.
          // Storing this information can be helpful for support.
        },
        onEvent: function(eventName, metadata) {
          // Optionally capture Link flow events, streamed through
          // this callback as your users connect an Item to Plaid.
          // For example:
          // eventName = "TRANSITION_VIEW"
          // metadata  = {
          //   link_session_id: "123-abc",
          //   mfa_type:        "questions",
          //   timestamp:       "2017-09-14T14:42:19.350Z",
          //   view_name:       "MFA",
          // }
        }
      });

    {% if oauth_callback %}
      handler.open();
    {% else %}
      $('#link-button').on('click', function(e) {
        handler.open();
      });
    {% endif %}
    })(jQuery);
  </script>
{% endblock %}
