{% extends "layout.html" %}
{% block title %}Subscription - {{ sub.name }}{% endblock %}
{% block content %}
  <h1>Subscription - {{ sub.name }}</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Account</th>
        <td><a href="{{ url_for('.account_transactions', account_id=sub.account.id) }}">{{ sub.account.name }}</a></td>
      </tr>
      <tr>
        <th scope="row">Regex</th>
        <td><pre>{{ sub.regex }}</pre></td>
      </tr>
      <tr>
        <th scope="row">New</th>
        <td>{{ sub.is_new | yesno }}</td>
      </tr>
      <tr>
        <th scope="row">Confirmed</th>
        <td>{{ sub.is_tracked | yesno }}</td>
      </tr>
      <tr>
        <th scope="row">Active</th>
        <td>{{ sub.is_active | yesno }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Subscription Review</h2>
  <form method="POST" action="{{url_for('.subscription_show', sub_id=sub.id)}}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class_="form-control") }}
    </div>
    <div class="form-check">
      {{ form.is_tracked(class_="form-check-input") }}
      {{ form.is_tracked.label(class_="form-check-label") }}
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary" type="submit">Review</button>
    </div>
  </form>
  <h2>Subscription Transactions</h2>
  {% include "shiso/transaction_table.html" %}
{% endblock %}
