{% extends "layout.html" %}
{% block title %}Shiso Transaction Overview{% endblock %}
{% block content %}
<h1>Shiso Transaction Overview</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th class="text-right" scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for txn in txns %}
      <tr>
        <td>{{txn['date']}}</td>
        <td>{{txn['name']}}</td>
        <td class="text-right">{{'$%.2f' | format(txn['amount'])}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block footer %}{% endblock %}
