{% extends "layout.html" %}
{% block title %}Transaction Review{% endblock %}
{% block content %}
  <h1>Transaction Review</h1>
  {% import "shiso/embed_txn_table.html" as embed %}
  {{ embed.transaction_detail(txn) }}
  {% if not txn.active and not txn.posted %}
    <div class="alert alert-warning" role="alert">
      This pending transaction was removed from your account!  Maybe you were
      refunded, a hold was removed, or possibly a new transaction was added in
      its place on your account.  This transaction is already invisible on the
      transactions page. Please review it to acknowledge the removal.
    </div>
  {% elif not txn.active and txn.posted %}
    <div class="alert alert-danger" role="alert">
      This posted transaction was removed from your account. This should not
      happen. It is a bug. Well, what are you waiting for? Fix it!
    </div>
  {% endif %}
  <form method="POST" action="{{url_for(dest, txn_id=txn.id)}}">
    {{form.csrf_token}}
    {% macro show_radio(radio) %}
      {{ radio.label }}
      <div class="form-group">
      {% for subfield in radio %}
        <div class="form-check form-check-inline">
          {{ subfield(class_="form-check-input") }}
          {{ subfield.label(class_="form-check-label") }}
        </div>
      {% endfor %}
     </div>
    {%- endmacro %}
    {% if txn.active %}
      {{ show_radio(form.reimbursement_type) }}
      <div class="form-group">
        {{form.reimbursement_amount.label}}
        {{ form.reimbursement_amount(class_="form-control") }}
        {{form.other_reimbursement.label}}
        {{ form.other_reimbursement(class_="form-control") }}
      </div>
      <div class="form-group">
        {{form.category.label}}
        {{ form.category(class_="form-control") }}
      </div>
      <div class="form-group">
        {{ form.notes.label }}
        {{ form.notes(class_="form-control") }}
      </div>
    {% endif %}
    <div class="form-group">
      <button class="btn btn-lg btn-primary" type="submit">Review</button>
      <a class="btn btn-lg btn-danger"
         href="{{url_for('.account_transactions', account_id=txn.account.id)}}">
        Account Summary
      </a>
    </div>
  </form>
  {% if not group_members and not group_txn %}
  <form  method="POST" action="{{ url_for('.create_transaction_group', txn_id=txn.id) }}">
    {{ retform.csrf_token }}
    {{ retform.return_url }}
    <div class="form-group">
      <button class="btn btn-lg btn-secondary", type="submit">Create Group</button>
      <a class="btn btn-lg btn-info"
         href="{{url_for('.group_add', txn_id=txn.id)}}">
        Add to Group
      </a>
    </div>
  </form>
  {% else %}
  <form method="POST" action="{{ url_for('.remove_from_group_view', txn_id=txn.id) }}">
    {{ retform.csrf_token }}
    {{ retform.return_url }}
    <div class="form-group">
      <button class="btn btn-lg btn-warning", type="submit">Remove from Group</button>
    </div>
  </form>
  {% endif %}
  {% if group_members %}
    <h2>Transaction Group</h2>
    {% import "shiso/embed_txn_table.html" as embed %}
    {{ embed.transaction_table(group_members, False, True, group_report)}}
  {% elif group_txn %}
    Part of transaction group:
    <a href="{{url_for('.global_review_transaction', txn_id=group_txn.id)}}">
      {{ group_txn.name }}
    </a>
  {% endif %}
{% endblock %}
