{% extends "layout.html" %}
{% block content %}
{% block header %}
{% endblock %}
<form id="bulk-update-form" class="form-inline mb-2 d-none" autocomplete="off"
      method="POST" action="{{url_for('.bulk_update')}}">
  {{ upd_form.csrf_token }}
  {{ upd_form.transactions }}
  {{ upd_form.return_url }}
  <div class="form-group">
    <button type="submit" class="btn btn-md btn-primary">Bulk Update</button>
  </div>
  <div class="form-group mx-sm-2">
    {{ upd_form.category(class_="form-control") }}
  </div>
</form>
{% import "shiso/embed_txn_table.html" as embed %}
{{ embed.transaction_table(txns, True, False, None) }}
{% endblock %}
{% block body_js %}
  <script type="text/javascript">
    var setId;
    var setAll;
    (function($) {
        let ids = [];
        let all_ids = [{% for txn in txns %}{{txn.id}},{% endfor %}];

        /* Called when the header checkbox toggles */
        setAll = function(state) {
            $(".bulk-update-checkbox").each(function (i, elem) { elem.checked = state; });
            if (state) {
                ids = all_ids;
            } else {
                ids = [];
            }
        }

        /* Called when individual checkboxes toggle */
        setId = function(id, checked) {
            var idx = ids.indexOf(id);
            if (idx === -1 && checked)
                ids.push(id);
            else if (idx !== -1 && !checked)
                ids.splice(idx, 1);
        }

        /* Button which toggles display of the update stuff */
        $("#bulk-update-toggler").on("click", function (e) {
            $("#bulk-update-form").toggleClass("d-none");
            $(".bulk-update-checkbox").toggleClass("d-none");
        });

        /* Submit button: update data */
        $("#bulk-update-form").on("submit", function () {
            let str = "";
            for (id of ids) {
                str += id.toString() + "\n";
            }
            let form = $("#bulk-update-form").get(0);
            form.transactions.value = str;
            form.return_url.value = window.location.href;
            return true;
        })

        /* Ensure buttons are cleared on load, that's the assumed initial state */
        $(".bulk-update-checkbox").each(function (i, elem) { elem.checked = false; });
    })(jQuery);
  </script>
{% endblock %}
