{% extends "layout.html" %}
{% block title %}Transaction Review{% endblock %}
{% block content %}
  <h1>Transaction Review</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Account</th>
        <td>{{txn.account.name}}</td>
      </tr>
      <tr>
        <th scope="row">Description</td>
        <td>{{txn.name}}</td>
      </tr>
      {% if txn.review and txn.name != txn.review.reviewed_name and txn.review.reviewed_name is not none %}
        <tr>
          <th scope="row">Description (old)</th>
          <td>{{txn.review.reviewed_name}}</td>
        </tr>
      {% endif %}
      <tr>
        <th scope="row">Merchant</th>
        <td>{{txn.plaid_merchant_name}}</td>
      </tr>
      {% if txn.review and txn.plaid_merchant_name != txn.review.reviewed_plaid_merchant_name
            and txn.review.reviewed_plaid_merchant_name is not none %}
        <tr>
          <th scope="row">Merchant (old)</th>
          <td>{{txn.review.reviewed_plaid_merchant_name}}</td>
        </tr>
      {% endif %}
      <tr>
        <th scope="row">Amount</th>
        <td>{{txn.amount | usd}}</td>
      </tr>
      {% if txn.review and txn.amount != txn.review.reviewed_amount and txn.review.reviewed_amount is not none %}
        <tr>
          <th scope="row">Amount (old)</th>
          <td>{{txn.review.reviewed_amount | usd}}</td>
        </tr>
      {% endif %}
      <tr>
        <th scope="row">Date First Seen</th>
        <td>{{txn.original_date}}</td>
      </tr>
      <tr>
        <th scope="row">Date</th>
        <td>{{txn.date}}</td>
      </tr>
      {% if txn.review and txn.date != txn.review.reviewed_date and txn.review.reviewed_date is not none %}
        <tr>
          <th scope="row">Date (old)</th>
          <td>{{txn.review.reviewed_date}}</td>
        </tr>
      {% endif %}
      <tr>
        <th scope="row">Posted</th>
        <td>{% if txn.posted %}Yes{% else %}No{% endif %}</td>
      </tr>
      {% if txn.review and txn.posted != txn.review.reviewed_posted and txn.review.reviewed_posted is not none %}
        <tr>
          <th scope="row">Posted (old)</th>
          <td>{% if txn.review.reviewed_posted %}Yes{% else %}No{% endif %}</td>
      </tr>
        </tr>
      {% endif %}
    </tbody>
  </table>
  {% if not txn.active and not txn.posted %}
    <div class="alert alert-warning" role="alert">
      This pending transaction was removed from your account!  Maybe you were
      refunded, a hold was removed, or possibly a new transaction was added in
      its place on your account.  This transaction is already invisible on the
      transactions page. Please review it to acknowledge the removal.
    </div>
  {% elif not txn.active and txn.posted %}
    <div class="alert alert-danger" role="alert">
      This posted transaction was removed from your account. This should not
      happen. It is a bug. Well, what are you waiting for? Fix it!
    </div>
  {% endif %}
  <form method="POST" action="{{url_for(dest, txn_id=txn.id)}}">
    {{form.csrf_token}}
    {% macro show_radio(radio) %}
      {{ radio.label }}
      <div class="form-group">
      {% for subfield in radio %}
        <div class="form-check form-check-inline">
          {{ subfield(class_="form-check-input") }}
          {{ subfield.label(class_="form-check-label") }}
        </div>
      {% endfor %}
     </div>
    {%- endmacro %}
    {% if txn.active %}
      {{ show_radio(form.reimbursement_type) }}
      <div class="form-group">
        {{form.reimbursement_amount.label}}
        {{ form.reimbursement_amount(class_="form-control") }}
      </div>
      {{ show_radio(form.category) }}
      <div class="form-group">
        {{ form.notes.label }}
        {{ form.notes(class_="form-control") }}
      </div>
    {% endif %}
    <div class="form-group">
      <button class="btn btn-lg btn-primary" type="submit">Review</button>
      <a class="btn btn-lg btn-danger"
         href="{{url_for('.account_transactions', account_id=txn.account.id)}}">
        Account Summary
      </a>
    </div>
  </form>
{% endblock %}
